* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --primary-background-color: #FFFCF4;
    --primary-color: #5F5B53;
    --primary-color-2: #171100;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

html,
body {
    scroll-behavior: smooth;
}

/* Common */
.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    height: 50px;
    min-width: 118px;
    border-radius: 24.5px;
    background: var(--primary-color-2);
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
}

.btn:hover {
    opacity: .7;
}

.line-stamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* CSS  */
.header {
    position: sticky;
    top: -30px;
    padding-top: 30px;
    background: var(--primary-background-color);
    z-index: 1;
}

.header .nav {
    display: flex;
    align-items: center;
    padding: 12px;
}

.header .nav ul {
    display: flex;
    margin-left: auto;
    margin-right: 70px;
}


.nav li:first-child a {
    font-weight: 600;
    font-size: 1.6rem;
    color: var(--primary-color-2);
    padding: 8px 20px;
    position: relative;
}

.nav li:first-child a::after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 5px;
    left: 20px;
    width: 12px;
    background: #000;
    height: 2px;
    border-radius: 999px;
}

.nav li:not(:first-child) a {
    font-weight: 400;
    font-size: 1.6rem;
    color: var(--primary-color);
    padding: 8px 20px;
}

.nav .action-link {
    width: 144px;
    font-size: 1.4rem;
}


/* Hero Wrap */
.hero-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--primary-background-color);
    padding: 64px 0 64px;
}

.hero {
    display: flex;
}

.hero .images {
    width: 48%;
}

.hero .info {
    width: 52%;
}

.hero .images {
    position: relative;
}

.hero .images .img {
    display: block;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.hero .images-info {
    position: absolute;
    right: 0;
    bottom: 48px;
    max-width: 270px;
    padding: 24px;
    background-color: #FFF;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 22px
}

.hero .images .row {
    display: flex;
    align-items: center;
}

.images-info .about .desc {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: var(--primary-color);
}

.images-info .about .sub-heading {
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: var(--primary-color-2);
}

.hero .images-info .bg-icon {
    display: flex;
    width: 48px;
    height: 48px;
    background: #FFF9E8;
    border-radius: 50%;
    margin-right: 16px;
}

.hero .images-info .icon {
    width: 24px;
    margin-left: auto;
    margin-right: auto;
}

.hero .info {
    padding: 64px 0 64px 130px;
}

.hero .info .heading {
    font-family: 'Sen', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 5.3rem;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: var(--primary-color-2);
}

.hero .info .desc {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: var(--primary-color);
    margin-top: 22px;
}

.info .action {
    display: flex;
    margin-top: 38px;
    align-items: center;
}

.info .action .action-link {
    min-width: 180px;
    height: 64px;
    border-radius: 32px;
    background: #FFB900;
    margin-right: 28px;
    line-height: 64px;
}

.info .action .play {
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 14px;
}

.info .action .desc-action {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: var(--primary-color-2);
}

.info .sub-desc {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: var(--primary-color);
    margin-top: 48px;
}

.info .quantity {
    display: flex;
    margin-top: 8px;
}

.info .quantity p {
    font-weight: 400;
    font-size: 1.8rem;
    color: var(--primary-color);
}

.info .quantity strong {
    font-weight: 700;
    font-size: 4.4rem;
    color: var(--primary-color-2);
}

/* Courses */
.courses {
    padding: 200px 0;
}

.courses .popular {
    display: flex;
    justify-content: space-between;
}

.popular .details {
    max-width: 458px;
}

.popular .details .heading {
    font-family: 'Sen', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.02em;
    color: var(--primary-color-2)
}

.popular .details .desc {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: var(--primary-color);
    margin-top: 16px;
}

.popular .next .arrow {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: 1px solid #FFB900;
    border-radius: 50%;
    cursor: pointer;
}

.popular .next .arrow-left {
    color: #FFB900;
}

.popular .next .arrow-right {
    color: #FFF;
    background: #FFB900;
}

.courses .about-courses {
    display: flex;
    gap: 30px;
    margin-top: 50px;
}

.about-courses .item {
    max-width: calc(100% / 3);
    background: #FFFFFF;
    border: 1px solid #E2DFDA;
    border-radius: 12px;
}

.about-courses .item:hover {
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.2);
}

.about-courses .item .img {
    display: block;
    max-width: 100%;
    border-radius: 12px 12px 0px 0px;
}

.about-courses .item .basic-info {
    padding: 16px 22px 22px;
}

.about-courses .basic-info .sub-heading {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: var(--primary-color-2);
}

.about-courses .basic-info .sub-desc {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: var(--primary-color);
    margin-top: 8px;
}

.about-courses .basic-info .fee {
    display: flex;
    margin-top: 12px;
    justify-content: space-between;
    align-items: center;
}

.about-courses .fee .cost {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: var(--primary-color-2);
}

.about-courses .fee .action-link:hover {
    background: #FFB900;
    opacity: .8;
}